<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire Me</title>
    <link rel="stylesheet" href="../stylesheets/style4.css">
</head>
<body>
    <section class="profiles">
        <img src="../images/social5.png" class="pic">
        
    <nav>
        <h1> Profiles</h1>
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="./page2.html">About</a></li>
            <li><a href="./page3.html">CONTACT ME</a></li> 
            <li><a href="./page4.html">PROFILES</a></li>
        </ul>
    </nav>
        <p>Social profiles are a description of individuals' social characteristics that identify them on social media sites such as LinkedIn and Facebook.</p>
        <div class="row">
            <div class="pro-col">
               
                <h3 class="animate"> LinkedIn</h3>
             
                <P>Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities.</P>
                <a href="https://www.linkedin.com/in/abhinandan-jugale-9b499a235/">My LinkedIn account</a>
            </div>
            <div class="pro-col">
                <h3 class="animate">GitHub</h3>
                <P>GitHub is where over 83 million developers shape the future of software, together. Contribute to the open source community, manage your Git repositories, ..</P>
                <a href="https://github.com/abhijugale6">My GitHub account</a>
            </div>
            <div class="pro-col">
                <h3 class="animate">Instagram</h3>
                <P>Create an account or log in to Instagram - A simple, fun & creative way to capture, edit & share photos, videos & messages with friends & family.</P>
                <a href="https://www.instagram.com/">My Instagram account</a>
            </div>
        </div>
        
    </section>
 
    
    
</body>
</html>